@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;
@use "sass:color";

.authPageLayoutWrapper {
    display: flex;
    width: 100%;
    height: 100vh;

    .bannerContent {
        width: 50%;
        height: 100%;
        background-size: 100% 140%;
        background-repeat: no-repeat;
        @include display-flex($direction : column, $justify : end);
        padding: 2%;

        p {
            width: 50%;
            color: white;
            line-height: 1.2;
            @include display-flex($direction: column, $gap: 1rem);

            .heading {
                font-size: $font-size-5xl;
                font-weight: 400;
            }

            .subHeading {
                font-weight: 300;
            }
        }
    }

    .children {
        width: 50%;
        height: 100%;
        background: color.adjust($color-secondary , $lightness : 35%);
    }
}