
// Here all the are the generic font size variables
$font-size-2xs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;

// Here are the color palettes
$color-primary: #9be2e9;
$color-secondary: #fb7c3c;
$color-accent: #b16874;
$color-accent-2: #dc186d;
$color-accent-3: #911cab;
