@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.registerWrapper {
    @include display-flex($justify : center, $align : center);
    width: 100%;
    height: 100%;

    .registrationForm {
        @include fadeInUp();

        .formLogo {
            @include display-flex($align :center, $gap: 1rem);

            img {
                height: 60px;
                width: 60px;
            }

            span {
                font-size: $font-size-xl;
            }
        }
    }
}